@import './variables.scss';

.find {
  height: $height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   

    img {
      background-color: #fff;
      color: white;
      text-align: center;
      width: 60%;
      border-radius: 50%;
      font-size: 3rem;
    }
    .name {
      color: white;
      font-size: 2rem;
    }
    .essay {
      margin: 10px 30px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      color: white;
      text-shadow: 1px 1px 10px rgb(95, 95, 95);
      padding: 10px 20px;
      word-wrap: break-word;
      font-size: 1rem;
    }
  }

  .buttons {
    padding-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    button {
      all: unset;
      font-size: 2rem;
      color: white;
    }
  }

  .nomore {
    color: white;
    border: 1px solid white;
    border-radius: 100%;
    animation-name: searching;
    animation-duration: 3s;
    animation-iteration-count: 5;

    span {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 55%;
      left: 50%;
      width: 0;
      line-height: 0;
      font-size: 1rem;
    }
  }

  @keyframes searching {
    0% {
      width: 150px;
      height: 150px;
    }
    50% {
      width: 300px;
      height: 300px;
    }
    100% {
      width: 150px;
      height: 150px;
    }
  }
}
